@model CIMS.Models.Branch

@{
    ViewBag.Title = "Delete Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this Branch?</h3>
<div>
    
    <dl class="dl-horizontal">
        <dt>
            Branch Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
