@model CIMS.Models.Role

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Role Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col">Role Name</label>
        </dt>
        <dd>
            <label class="control-label col">@Html.DisplayFor(model => model.RoleName)</label>
        </dd>
        <dt>
            <label class="control-label col">Role Description</label>
        </dt>
        <dd>
            <label class="control-label col">@Html.DisplayFor(model => model.RoleDescription)</label>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
