<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <script src="~/bower_components/jquery/dist/jquery.js"></script>
    <script src="~/bower_components/tether/dist/js/tether.js"></script>
    <link href="~/bower_components/tether/dist/css/tether.css" rel="stylesheet" />
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light navbar-inverse bg-primary bg-faded" style="margin: 2px;border-radius: 5px;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-top: 11px;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="Home">
            <div class="d-inline"></div>
            <img src="~/Images/Logo.png" style="margin-top:13px" width="30" height="32" class="d-inline-block align-top" alt="">
            <div class="d-inline">
                Standard Bank
            </div>
            <div style="padding-left:35px; margin-top:-17px">
                CIMS
            </div>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="Roles">Manage Roles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
           
        </div>
        <div class="pull-right">
            <a class="nav-link" href="#" style="color:white">
            @User.Identity.Name.Split('\\').Last()
            </a>
        </div>
    </nav>
    
        
    <div class="container body-content">
        <br />
        <div class="card">
            <div class="card-block">
                @RenderBody()
            </div>  
        </div>
    </div>

</body>
</html>


